@import './variable';
@import './header/header';
@import './rentals/rentals-listing';
@import './rentals//rental-detail';
@import './form//form';
@import './bookings/bookings';
.page-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.apartment{
    color: #a73da2
   }
   .house{
       color: #bf1818
   }
   .condo{
     color:#d68000
   }
.btn-bwm{
    background-color: $main-color !important;
    border-color: $diabled-color !important;
    color :$main-white-color;
    padding: 15px 15px;
    font-size: 15px;
    &:disabled{
        background-color: $diabled-color !important; 
    }

    &:hover, &:active , &:focus {
        background-color: $main-color !important;
        border-color: $main-color !important;
    }
}