.navbar {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #20232a; }
  .navbar .bwm-search {
    height: 50px;
    width: 300px !important; }
  .navbar .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: #160094 !important;
    font-weight: 500; }
  .navbar .nav-item {
    font-size: 14px; }
  .navbar .btn-bwm-search {
    border-color: #160094;
    color: #160094; }
    .navbar .btn-bwm-search:hover, .navbar .btn-bwm-search:focus, .navbar .btn-bwm-search:active {
      background-color: transparent !important;
      border-color: #160094 !important;
      color: #160094 !important;
      box-shadow: none; }
  .navbar .nav-item {
    color: #fff; }

.navbar {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #20232a; }
  .navbar .bwm-search {
    height: 50px;
    width: 300px !important; }
  .navbar .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: #160094 !important;
    font-weight: 500; }
  .navbar .nav-item {
    font-size: 14px; }
  .navbar .btn-bwm-search {
    border-color: #160094;
    color: #160094; }
    .navbar .btn-bwm-search:hover, .navbar .btn-bwm-search:focus, .navbar .btn-bwm-search:active {
      background-color: transparent !important;
      border-color: #160094 !important;
      color: #160094 !important;
      box-shadow: none; }
  .navbar .nav-item {
    color: #fff; }

#rentalListing {
  /* SINGLE CARD STYLES*/ }
  #rentalListing .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px; }
  #rentalListing .rental-detail-link:hover {
    text-decoration: none; }
  #rentalListing .bwm-card {
    border: none;
    margin: 20px 0.2px; }
    #rentalListing .bwm-card .card-block {
      padding-top: 8px; }
      #rentalListing .bwm-card .card-block .card-subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase; }
      #rentalListing .bwm-card .card-block .card-title {
        font-size: 19px;
        margin: 3px 0; }
      #rentalListing .bwm-card .card-block .card-text {
        font-size: 14px;
        font-weight: 300;
        color: #7e7e7e;
        margin-bottom: 0; }

#rentalDetails .upper-section {
  margin-bottom: 30px; }
  #rentalDetails .upper-section img {
    width: 100%; }

#rentalDetails .details-section {
  color: #484848; }
  #rentalDetails .details-section .rental-type {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0; }
  #rentalDetails .details-section .rental-title {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 700; }
  #rentalDetails .details-section .rental-city {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px; }
  #rentalDetails .details-section .rental-room-info {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px; }
    #rentalDetails .details-section .rental-room-info span {
      margin-right: 10px; }
    #rentalDetails .details-section .rental-room-info i {
      margin-right: 2px; }
  #rentalDetails .details-section .rental-description {
    font-weight: 300;
    margin-bottom: 30px; }
  #rentalDetails .details-section .rental-assets .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px; }
  #rentalDetails .details-section .rental-assets span {
    display: block;
    margin-bottom: 15px;
    font-weight: 300; }

.bwm-form {
  color: #484848; }
  .bwm-form h1 {
    font-weight: 700;
    margin-bottom: 30px; }
  .bwm-form .image-container {
    position: relative; }
    .bwm-form .image-container img {
      width: 100%;
      border-radius: 5px; }
  .bwm-form label {
    font-style: bold !important;
    font-size: 20px;
    margin: 20px 0px; }
  .bwm-form .form-text {
    font-size: 13px; }
  .bwm-form .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px; }
  .bwm-form .bwm-form {
    margin-top: 15px; }

.bwm-res-errors {
  margin: 10px 0; }
  .bwm-res-errors p {
    margin-bottom: 5px; }

.booking {
  padding: 20px;
  border: 1px solid #a9a9a9; }
  .booking .btn-confirm {
    font-size: 17px;
    font-weight: 700;
    padding: 13px; }
  .booking label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0; }
  .booking-price {
    font-size: 22px;
    font-weight: 700; }
  .booking-per-night {
    font-size: 13px;
    font-weight: 300; }
  .booking-note-title {
    font-size: 14px;
    margin-bottom: 10px; }
  .booking-note-text {
    font-size: 13px;
    font-weight: 300; }
  .booking .should-login-btn-container {
    text-align: center;
    margin-bottom: 10px; }
    .booking .should-login-btn-container .btn-login {
      text-align: center;
      font-size: 15px;
      padding: 15px; }
      .booking .should-login-btn-container .btn-login:hover, .booking .should-login-btn-container .btn-login:focus {
        color: white;
        text-decoration: none; }

.booking-modal .title {
  font-weight: 700;
  font-size: 26px; }

.booking-modal .buttons {
  margin: 15px 0px; }

.booking-modal em {
  font-style: normal;
  font-size: 17px;
  font-weight: 700; }

.booking-modal p {
  margin: 0; }

.daterangepicker td.in-range {
  background-color: red #160094; }

.daterangepicker td.active {
  background-color: #160094 !important; }

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px; }

.apartment {
  color: #a73da2; }

.house {
  color: #bf1818; }

.condo {
  color: #d68000; }

.btn-bwm {
  background-color: #160094 !important;
  border-color: #ee6c6c !important;
  color: #fff;
  padding: 15px 15px;
  font-size: 15px; }
  .btn-bwm:disabled {
    background-color: #ee6c6c !important; }
  .btn-bwm:hover, .btn-bwm:active, .btn-bwm:focus {
    background-color: #160094 !important;
    border-color: #160094 !important; }

div .formLink a {
  margin-top: 20px;
  color: #20232a;
  text-decoration: none; }
  div .formLink a:hover {
    text-decoration: none; }
